
#spinner {
	-webkit-animation: frames 1s infinite linear;
	animation: frames 1s infinite linear;
	background: transparent;
	border: 1.75vw solid #FFF;
	border-radius: 100%;
	border-top-color: #df1a1a;
	width: 20vw;
	height: 20vw;
	opacity: .6;
	padding: 0;
	position: absolute;
	z-index: 999;
}
@keyframes frames {
  0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
  }
  100% {
	-webkit-transform: rotate(359deg);
	transform: rotate(359deg);
  }
  
}
@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }

  
}





#pause {
	display: block;
	background:
		rgba(0, 0, 0, 0.66)
		no-repeat
		0 0;
	

    position: absolute;
    top: -62px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    margin-right: 0;
     height:88%  ;
}
